@import "../../styles/variables.scss";

.blockOuter {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 2rem;
  .blockInner {
    max-width: 610px;
    display: flex;
    @media (max-width: $tabletScreens) {
      justify-content: center;
    }
    .link {
      font-size: 0.75rem;
      color: var(--grey-seven);
      @media (max-width: $mobileScreens) {
        font-size: 0.4rem;
      }
      &:after {
        content: "/";
        margin: 0 0.25rem;
      }
      &:last-child {
        color: var(--text);
        &:after {
          display: none;
        }
      }
      .icon {
        transform: translateY(0.1rem);
        margin-right: 0.25rem;
      }
    }
  }
}
