.blockOuter {
  margin-bottom: 4rem;
  .blockSecondaryHeading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .OuterListItem {
    margin-left: 1.3rem;
    .listItem {
      list-style: disc;
    }
  }

  .blockContent {
    padding: 1rem;
    border: var(--border-width) solid var(--grey-two);
    border-radius: var(--border-radius);
    margin: 1.5rem 0;
    .blockHeading {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .blockInner {
      display: flex;
      align-items: center;
      .blockIcon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
      }
    }
  }
}
